<!DOCTYPE html>
<html>
<head>
    <title>Draw Together</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <style>
        canvas {
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
        #toolbar {
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div id="toolbar">
        <input type="color" id="colorPicker">
        <label for="lineWidth">pen thickness:</label>
        <input type="range" id="lineWidth" min="1" max="20" value="5">
    </div>
    <canvas id="canvas"></canvas>
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var drawing = false;
        var colorPicker = document.getElementById('colorPicker');
        var lineWidth = document.getElementById('lineWidth');
        var current = {
            color: colorPicker.value,
            width: lineWidth.value
        };

        function resizeCanvas() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }

        window.addEventListener('resize', resizeCanvas);
        resizeCanvas();

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        canvas.addEventListener('mousedown', function(e) {
            drawing = true;
            current.color = colorPicker.value;
            current.width = lineWidth.value;
            current.x = e.clientX - canvas.getBoundingClientRect().left;
            current.y = e.clientY - canvas.getBoundingClientRect().top;
            socket.emit('start', { x: current.x, y: current.y, color: current.color, width: current.width });
        });

        canvas.addEventListener('mousemove', function(e) {
            if (!drawing) return;
            var x = e.clientX - canvas.getBoundingClientRect().left;
            var y = e.clientY - canvas.getBoundingClientRect().top;
            draw(x, y);
            socket.emit('draw', { x: x, y: y });
        });

        canvas.addEventListener('mouseup', function() {
            drawing = false;
            socket.emit('end');
        });

        canvas.addEventListener('mouseout', function() {
            drawing = false;
        });

        function draw(x, y) {
            context.lineWidth = current.width;
            context.lineCap = 'round';
            context.strokeStyle = current.color;
            context.lineTo(x, y);
            context.stroke();
            context.beginPath();
            context.moveTo(x, y);
        }

        socket.on('start', function(data) {
            current.color = data.color;
            current.width = data.width;
            context.beginPath();
            context.moveTo(data.x, data.y);
        });

        socket.on('draw', function(data) {
            draw(data.x, data.y);
        });

        socket.on('end', function() {
            context.beginPath();
        });
    </script>
</body>
</html>
